<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Вселенные">
    <app-universes (popUpEvent)="showPopup($event)" *ngIf="selected.value === 0"></app-universes>
  </mat-tab>
  <mat-tab label="Планеты">
    <app-planets (popUpEvent)="showPopup($event)" *ngIf="selected.value === 1"></app-planets>
  </mat-tab>
  <mat-tab label="Галактики">
    <app-galaxies (popUpEvent)="showPopup($event)" *ngIf="selected.value === 2"></app-galaxies>
  </mat-tab>
  <mat-tab label="Звезды">
    <app-stars (popUpEvent)="showPopup($event)" *ngIf="selected.value === 3"></app-stars>
  </mat-tab>
  <mat-tab label="Созвездия">
    <app-constellations (popUpEvent)="showPopup($event)" *ngIf="selected.value === 4"></app-constellations>
  </mat-tab>
  <mat-tab label="Другое">
    <app-other *ngIf="selected.value === 5"></app-other>
  </mat-tab>
  <mat-tab label="История">
    <app-audits *ngIf="selected.value === 6"></app-audits>
  </mat-tab>
</mat-tab-group>

<div class="popUp" *ngIf="popUpMsg">
  {{popUpMsg}}
</div>
