<div class="other">
  Выберите галактику
  <mat-form-field>
    <mat-select [(ngModel)]="selectedUid" (selectionChange)="loadGalaxyData(selectedUid)">
      <mat-option *ngFor="let universe of galaxyList" [value]="universe.id">{{universe.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="download">
  <button mat-raised-button (click)="generateExcelReport(selectedUid)">
    Скачать excel отчет
  </button>

  <button mat-raised-button (click)="generateWordReport(selectedUid)">
    Скачать word отчет
  </button>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Категория </th>
    <td mat-cell *matCellDef="let element; let i = index">
      {{element.category}}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Описание </th>
    <td mat-cell *matCellDef="let element; let i = index">
      {{element.description}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['category', 'description']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['category', 'description'];"></tr>
</table>
